In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport 
import os
import sys
import warnings
from scripts.data import load_data
warnings.filterwarnings('ignore')
%matplotlib inline

In [ ]:
#CREATE README FILE

In [9]:
# load data:
movie_ratings, movie_titles = load_data(data_path='../data/', n_rows=1000)

10/21/2022 09:54:36 AM Loading movie_titles...
10/21/2022 09:54:36 AM Generating list of combined_data file paths...
10/21/2022 09:54:36 AM Creating movie_ratings dataframe...
10/21/2022 09:54:36 AM Loading only 1000 rows from ../data/combined_data_2.txt
10/21/2022 09:54:42 AM Loading only 1000 rows from ../data/combined_data_3.txt
10/21/2022 09:54:46 AM Loading only 1000 rows from ../data/combined_data_1.txt
10/21/2022 09:54:50 AM Loading only 1000 rows from ../data/combined_data_4.txt
10/21/2022 09:54:54 AM Converting data types...
10/21/2022 09:54:54 AM Merging movie_ratings with movie_titles...
10/21/2022 09:54:54 AM Done!

In [11]:
movie_titles.head()

   MovieID  YearOfRelease                         Title
0        1         2003.0               Dinosaur Planet
1        2         2004.0    Isle of Man TT 2004 Review
2        3         1997.0                     Character
3        4         1994.0  Paula Abdul's Get Up & Dance
4        5         2004.0      The Rise and Fall of ECW